        </main>
        <footer class="footer-portal">
            <p id="copyright">Copyright © 2013 . All Rights Reserved. Designed by kopatheme.com.</p>
            <p>The trade marks and images used in the design are the copyright of their respective owners. They are used only for display purpose.</p>
        </footer>
    </body>
</html>
