<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fast News</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<header>
    <div class="header-top">
        <div class="wrapper">
            <label class="mobile-menu" for="menus-toggle">menu</label>
            <input type="checkbox" id="menus-toggle"/>
            <ul class="flex-container "  id="menus">
                <li><a href="/">HOME</a></li>
                <li><a href="/posts">NEWS PORTAL</a></li>
                <li><a href="/posts/featured">BLOG</a></li>
                <li style="text-align: start;">
                    <ul class="menu" style="display: block;">
                        <li ><a href="#">PAGES</a>
                            <ul class="submenu" style="position: fixed;">
                                <li><a href="/posts/sport">Sport</a> </li>
                                <li><a href="/posts/food">Food</a></li>
                                <li><a href="/posts/animals">Animals</a> </li>
                                <li><a href="/posts/transport">Transport</a></li>
                                <li><a href="/posts/featured">Featured</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/contact">CONTACT</a></li>
                <% if(!currentUser){ %>
                <li>
                    <a href="/login">Login</a>
                </li>
                <% } else { %>
                <li>
                    <ul class="menu">
                        <li><a href="#">Signed In as <%= currentUser.username %></a>
                            <ul class="submenu">
                                <li><a href="/posts/new">Add Post</a> </li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrapper">
            <ul class="flex-container">
                <li><a href="/"><img src="/banners/logo-header-1.png"></a></li>
                <li><a href="/"><img src="/banners/logo-header-2.png"></a></li>
            </ul>
        </div>
    </div>
</header>
<main>