<% include ../partials/header %>

<div class="wrapper">
    <div id="contact-box">
        <h3 style="text-align: center">Edit comment</h3>               
        <form id="contact-form" action="/posts/<%= post_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
            <label class="required" for="contact_name">Comment:</label>
            <input type="text" name="comment[text]" value="<%= comment.text %>" id="contact_username">
            <input type="submit" class="btn-submit" value="Submit">       
        </form>
    </div>
</div>

<% include ../partials/footer %>