<% include ../partials/header %>

<div class="wrapper">
    <div id="contact-box">
        <h3 style="text-align: center">Comment to: "<%= post.name%>"</h3>            
        <form id="contact-form" action="/posts/<%= post._id%>/comments" method="post">
            <label class="required" for="password">Your Comment:</label>
            <textarea type="text" name="comment[text]" placeholder="text" id="contact_textarea" required></textarea>
            <input type="submit" class="btn-submit" value="Submit">
            <a class="btn-submit" href="/posts">Go back</a>      
        </form>
    </div>
</div>

<% include ../partials/footer %>