<% include ./partials/header %>

<div class="wrapper">
    <div id="contact-box">
        <h3>Contact us</h3>               
        <form id="contact-form" action="#" method="post">
            <label class="required" for="contact_name">Your Name:</label>
            <input type="text" name="username" id="contact_username" required>
            <label class="required" for="contact_name">Email:</label>
            <input id="contact_username" type="text" name="email">
            <label class="required" for="password">Description:</label>
            <textarea type="text" name="description" id="contact_textarea"></textarea>
            <a class="btn-submit" href="#">Submit</a>
            <a class="btn-submit" href="/posts">Go back</a>        
        </form>
    </div>
</div>

<% include ./partials/footer %>