<% include partials/header %>

<div class="wrapper" style="align-items: center;">
    <div id="contact-box">
        <h2>Welcome to FastNews</h2>
        <a class="btn-submit" href="/posts">View All posts</a>
    </div>
</div>

<% include partials/footer %>