<% include ./partials/header %>

<div class="wrapper">
    <div id="contact-box">
        <h3>Login</h3>               
        <form id="contact-form" action="/login" method="post">
            <label class="required" for="contact_name">Username:</label>
            <input type="text" name="username" id="contact_username" required>
            <label class="required" for="password">Password:</label>
            <input type="password" name="password" id="contact_password" required>
            <input type="submit" class="btn-submit" value="Login">
            <a class="btn-submit" href="/register">Sign Up</a>      
        </form>
    </div>
</div>

<% include ./partials/footer %>