<% include ./partials/header %>

<div class="wrapper">
    <div id="contact-box">
        <h3>Registration</h3>               
        <form id="contact-form" action="/register" method="post">
            <label class="required" for="contact_name">Username:</label>
            <input type="text" name="username" id="contact_username" required>
            <label class="required" for="password">Password:</label>
            <input type="password" name="password" id="contact_password" required>
            <input type="submit" class="btn-submit" value="Sign Up">       
        </form>
    </div>
</div>
    
<% include ./partials/footer %>