* {
    box-sizing: border-box;
    margin: 0
}
:root {
    --main-color: #098d94;
    --border-color: #dedede
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #666;
    font-family: 'Rokkitt',serif;
    font-size: 17px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover, .date {
    color: var(--main-color);
}
.date {
    font-style: italic;
}
h1 {
    color:  var(--main-color);
    border-bottom: 3px double var(--border-color);
    margin-right: 20px;
}
h4 {
    padding-bottom: 5px;
}
.widget-area-4 h4 {
    color: var(--main-color);
}
.header-top {
    background-color: var(--main-color);
    padding-top: 5px;
}
.header-top a {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 16px 14px;
    text-transform: uppercase;
    line-height: 16px;
}
.header-top a:hover {
    color: black;
    background: white;
    text-decoration: none;
}
.header-bottom {
    padding: 25px 0 15px;
    border-bottom: 1px solid #dfdfdf;
}
.header-bottom a {
    display: block;
}
#contact-box {
    width: 400px;
    margin: 0 auto;
}
#contact-box h3 {
    font-size: 24px;
    background-color: var(--main-color);
    text-transform: uppercase;
    margin: 100px 0 15px;
    padding: 10px 20px;
    position: relative;
    line-height: 20px;
    color: #fff;
}
#contact-form label.required {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: 400;
}
select, #contact-form #contact_username, #contact-form #contact_usename, #contact-form #contact_password {
    padding: 0 15px;
    width: 400px;
    box-sizing: border-box;
    background-color: #fbfbfb;
    border: 1px solid #eee;
    height: 35px;
    line-height: 35px;
    margin: 0 0 5px;
}
#contact-form #contact_textarea {
    padding: 0 15px;
    width: 400px;
    box-sizing: border-box;
    background-color: #fbfbfb;
    border: 1px solid #eee;
    border-radius: 0;
    height: 100px;
    line-height: 35px;
    margin: 0 0 5px;
}
.entry-thumb {
    position: relative;
}
.btn-submit {
    margin-top: 5px;
    padding: 5px 15px;
    color: #fff;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
    border: 1px solid var(--main-color);
    display: inline-block;
}
.btn-submit:hover {
    background-color: #fff;
    color: var(--main-color);
}
.delete-form {
    display: inline;
}
ul {
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
ul.flex-container:last-child {
    text-align: end;
}
ul:after {
    display: block;
}
.menu > li {
    display: inline-block;
    position: relative;
}
.menu > li > a:hover {
    background-color: white;
}
.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 45px;
    text-decoration: none;
    z-index: 1;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li:last-child {
    display: block;
    text-align: center;
}
ul.submenu > li > a {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.wrapper {
    display: flex;
}
.wrapper-h {
    display: block;
}
.wrapper, .wrapper-h {
    width: 1086px;
    margin: 0 auto;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.wrapper li:last-child {
    flex-grow: 1;
}
.wrapper li:last-child a {
    display: inline-block;
}
.wrapper li:last-child a:before {
    margin-right: 5px;
}
main {
    flex: auto;
}
.footer-portal {
    border-bottom: 3px double var(--border-color);;
    border-top: 1px solid #dfdfdf;
    margin-bottom: 40px;
    padding-top: 10px;
}
.footer-portal p {
    margin-bottom: 10px;
    line-height: 18px;
    text-align: center;
}
.footer-form {
    display: inline-block;
}
.post-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.post-item {
    flex: 0 0 70%;
    margin: 20px  auto 20px;
}
.img-post {
    margin-right: 20px;
    position: relative;
    max-width: 50%;
}
.post-info {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-section-container {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.post-section {
    flex: 0 0 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 15px;
}
.img-post-section {
    margin-right: 20px;
    max-width: 40%;
}
#menus-toggle {
    display: none;
}
.mobile-menu{
    display: none;
}
.widget-area-2 {
    border-bottom: 1px solid var(--border-color);
}
.widget-area-3 {
    width: 60%;
    padding: 20px 20px 0 0;
    border-right: 1px solid var(--border-color);
}
.widget-area-3 .widget, .widget-area-4 .widget, .sidebar .widget {
    margin-bottom: 20px;
    overflow: hidden;
}
.widget-area-5{
    display: none;
}
.widget-title {
    border-bottom: 3px double var(--border-color);
    text-transform: uppercase;
}
.widget-title a {
    color: var(--main-color);
}
.widget-area-4 {
    padding: 20px 0 0 20px;
    width: 40%
}
.col-a, .col-b {
    width: 541px;
    flex-wrap: wrap;
    padding: 20px 20px 0;
}
div > ul > li > p {
    font-family: 'Open Sans', sans-serif;
}
.col-a {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
.col-b {
    border-right: 1px solid var(--border-color);
    display: flex;
    align-items: start;
}
.home-slider .flex-caption {
    background: url(../banners/flex-caption-bg.png) repeat 0 0;
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 5%;
    width: 90%;
    padding: 15px 20px 15px;
}
.home-slider .entry-categories a, .home-slider .flex-caption h2 a {
    color: #fff;
}
.older-post > li > div > a > img {
    margin-right: 5px;
}
.older-post > li > div > h4 {
    text-align: start;
}
.older-post > li:last-child > img {
    max-width: 100%;
    padding-bottom: 10px;
}
.last {
    overflow: hidden; position: relative;
}
.last > ul > li {
    display: none;
}
.last > ul > li:last-child {
    display: block;
}
.last > ul > li > img {
    width: 100%;
}
.play-icon {
    background-color: rgba(0, 0, 0, 0.62);
    background-image: url(../banners/play-icon.png);
    background-position: 14px center;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.62);
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    display: block;
    height: 39px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 39px;
}
.col-c {
    width: 1082px;
    border-top: 3px solid var(--main-color);
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
#responsive-menu {
    color: #000;
    border: 1px solid var(--main-color);
    font-family: Arial,Helvetica,sans-serif;
    padding: 4px 6px;
    width: 110px;
}
.content-post {
    margin: 10px auto;
}
.views {
    color: var(--main-color);
    text-align: end;
}
ul.box-features {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
ul.box-features > li {
    display: none;
    width: 33.33%
}
ul.box-features > li:last-child, ul.box-features > li:nth-last-child(2), ul.box-features > li:nth-last-child(3) {
    display:block;
    padding: 1em;
}
ul.box-features > li:last-child {
    flex-grow: 0;
}
.box2 {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
}
ul#video > li > div > img {
    padding-top: 1em;
}
.box {
    display: flex;
    align-items: flex-start;
    height: 500px;
    overflow: hidden;
    flex-flow: column-reverse wrap-reverse;
}
.box3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-flow: column-reverse;
    text-align: start;
}
ul.box > li, ul.box3 > li {
    display: none;
}
ul.box3 > li {
    padding-top: 1em;
    padding-bottom: 1em;
}
ul.box > li:last-child, ul.box3 > li:last-child, ul.box3 > :nth-last-child(2), ul.box3 > :nth-last-child(3) {
    display: block;
    width: 100%;
}
ul#sport > li:last-child > img {
    display: none;
}
ul.box3 > li:last-child, ul#animals > li:nth-last-child(2), ul#video > li:nth-last-child(2) {
    border-bottom: 1px solid var(--border-color);
}
ul#sport > li:nth-last-child(3) {
    display: none;
}
ul#sport > li:nth-last-child(2) > img {
    max-width: 40%;
    float: left;
}
ul#animals > li:last-child > img {
    max-width: 100%;
    padding-bottom: 1em;
}
ul.box > li > span.date, ul#animals > li > span.date {
    display: none;
}
ul.box > li:last-child > span.date, ul#animals > li:last-child > span.date {
    display: block;
}
ul#animals > li:nth-last-child(2) > img, ul#animals > li:nth-last-child(3) > img {
    max-width: 30%;
    float: left;
    padding-right: 5%;
    padding-bottom: 5%;
}
ul.box > li:last-child {
    padding-top: 1em;
    padding-right: 1em;
    width: 40%;
    height: 100%;
}
ul.box > li:last-child > img {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
}
ul.box> li:nth-last-child(2) > img {
    float: left;
    align-self: flex-start;
    margin-right: 10px;
    max-width: 35%;
}
ul.box> li:nth-last-child(3) > img, ul.box> li:nth-last-child(4) > img {
    display: none;
}
ul.box> li:nth-last-child(2), ul.box> li:nth-last-child(3) {
    border-bottom: 1px solid var(--border-color);
}
ul.box> li:nth-last-child(2), ul.box> li:nth-last-child(3), ul.box> li:nth-last-child(4) {
    display: block;
    padding: 1em;
    overflow: hidden;
    width: 60%;
    height: 33.33%;
}
@media ( max-width: 1024px ) {
    .col-c {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .col-b {
        border-left: 1px solid var(--border-color);
    }
    h1, h2, h3, h4 {
        font-size: xx-large;
    }
    .post-section {
        flex: 0 0 80%;
        margin: 10px auto;
        border: 1px solid #ccc;
    }
    .wrapper {
        width: 80%;
        display: block;
    }
    .col-a, .col-b {
        width: 100%;
    }
    div.widget-area-4 > ul > li:nth-last-child(2) {
        display: none;
    }
    .widget-area-3 {
        border-right: none;
    }
    .widget-area-3, .widget-area-4 {
        width: 100%;
        padding: 0;
    }
    .widget-area-5{
        display: block;
    }
    #menus-toggle {
        display: none;
    }
    #menus {
        background-color: var(--main-color);
        width: 120px;
        overflow: hidden;
        max-height: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
        position: absolute;
        -webkit-transition: all 0.3s ease;
    }
    #menus-toggle:checked + #menus {
        max-height: 450px;
        justify-content: center;
    }
    .mobile-menu {
        display: inline-block;
        color: white;
        font-size: 18px;
        font-weight: 700;
        padding: 15px 16px 14px;
        text-transform: uppercase;
        line-height: 16px;
        justify-content: center;
    }
    .flex-container {
        display: block;
        flex-wrap: nowrap;
        text-align: center;
    }
    ul.flex-container > li {
        text-align: center;
    }
    .footer-portal p {
        font-size: x-small;
    }
    .box {
        height: 100%;
    }
    ul.box > li {
        padding-right: 0px;
    }
    ul.box> li:last-child {
        width: 100%;
        height: 25%;
    }
    ul.box> li:nth-last-child(2), ul.box> li:nth-last-child(3), ul.box> li:nth-last-child(4) {
        width: 100%;
        height: 25%;
    }
}