<% include ../partials/header %>

<div class="wrapper">
    <div id="contact-box">
        <h3 style="text-align: center">Edit post: <%= post.name %></h3>
        <form id="contact-form" action="/posts/<%= post._id %>/?_method=PUT" method="post">
            <label class="required" for="contact_name">Title:</label>
            <input id="contact_username" type="text" name="post[name]" value=" <%= post.name %>">
            <label class="required" for="contact_name">Image:</label>
            <input id="contact_username" type="text" name="post[image]" value=" <%= post.image %>">
            <label class="required" for="password">Description:</label>
            <textarea type="text" name="post[description]" value="<%= post.description %>"id="contact_textarea"></textarea>
            <input type="submit" class="btn-submit" value="Edit"> 
            <a class="btn-submit" href="/posts">Go back</a>      
        </form>
    </div>
</div>

<% include ../partials/footer %>