<% include ../partials/header %>

<div class="wrapper">
    <div class="col-a">
        <!-- last added -->
        <div class="widget">
            <div class="home-slider">
                <div class="last">
                    <ul>
                        <% posts.forEach(function(post){ %>
                        <li >
                            <img src="<%= post.image %>">
                            <div class="flex-caption">
                                <span class="entry-categories">in: <%=post.type %> &nbsp;|&nbsp;<% include ../partials/date %></span>
                                <h2><a href="/posts/<%= post._id %>"><%=post.name %></a></h2>
                                <p><%= post.description.substring(0, 100) %>...</p>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
        <!-- transport -->
        <div class="widget">
            <h2 class="widget-title"><a href="/posts/transport">transport news</a></h2>
            <ul class="box">
                <% posts.forEach(function(post){ %>
                <% if(post.type == "Transport") { %>
                <li>
                    <img src="<%= post.image %>">
                    <h4><a href="/posts/<%= post._id %>"><%=post.name %></a></h4>
                    <span class="date"><% include ../partials/date %></span>
                    <p><%= post.description.substring(0, 70) %>...</p>
                    <div class="views"><% include ../partials/counter %></div>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
        <!-- food -->
        <div class="widget">
            <h2 class="widget-title"><a href="/posts/food">food news</a></h2>
            <ul class="box">
                <% posts.forEach(function(post){ %>
                <% if(post.type == "Food") { %>
                <li>
                    <img src="<%= post.image %>">
                    <h4><a href="/posts/<%= post._id %>"><%=post.name %></a></h4>
                    <span class="date"><% include ../partials/date %></span>
                    <p><%= post.description.substring(0, 70) %>...</p>
                    <div class="views"><% include ../partials/counter %></div>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="col-b">
        <!-- featured -->
        <div class="widget-area-2">
            <h3 class="widget-title"><a href="/posts/featured">Featured News</a></h3>
            <ul class="box-features">
                <% posts.forEach(function(post){ %>
                <li>
                    <img src="<%= post.image %>" style="max-width:100%;">
                    <h4><a href="/posts/<%= post._id %>"><%=post.name %></a></h4>
                    <span class="date"><% include ../partials/date %></span>
                    <p><%= post.description.substring(0, 75) %>...</p>
                    <div class="views"><% include ../partials/counter %></div>
                </li>
                <% }) %>
            </ul>
        </div>
        <div class="widget-area-3">
            <h4 class="widget-title"><a href="/posts/animals">Animals</a></h4>
            <ul class="box3" id="animals">
                <% posts.forEach(function(post){ %>
                <% if(post.type == "Animals") { %>
                <li>
                    <img src="<%= post.image %>" alt="">
                    <h4><a href="/posts/<%= post._id %>"><%=post.name %></a></h4>
                    <span class="date"><% include ../partials/date %></span>
                    <p><%= post.description.substring(0, 50) %>...</p>
                    <div class="views"><% include ../partials/counter %></div>
                </li>
                <% } %>
                <% }) %>
            </ul>
            <!-- sport -->
            <h4 class="widget-title"><a href="/posts/sport">sport news</a></h4>
            <ul class="box3" id="sport">
                <% posts.forEach(function(post){ %>
                <% if(post.type == "Sport") { %>
                <li>
                    <img class="img-post" src="<%= post.image %>" alt="">
                    <h4><a href="/posts/<%= post._id %>"><%=post.name %></a></h4>
                    <span class="date"><% include ../partials/date %></span>
                    <p><%= post.description.substring(0, 50) %>...</p>
                    <div class="views"><% include ../partials/counter %></div>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
        <!-- video -->
        <div class="widget-area-4">
            <h4 class="widget-title">Video</h4>
            <ul class="box3" id="video">
                <li>
                    <h4><a href="https://vimeo.com/69882318">Make Your Own Video Game With No</a></h4>
                    <span class="date"><% include ../partials/date %></span>
                    <div class="entry-thumb">
                        <img src="https://cdn.pixabay.com/photo/2019/08/28/09/04/cat-4436152__340.jpg" style="width: 100%" alt="">
                        <a rel="prettyPhoto[kp-video]" href="https://vimeo.com/69882318" class="play-icon"></a>
                    </div>
                </li>
                <li>
                    <h4><a href="https://vimeo.com/69882318">Make Your Own Video Game With No</a></h4>
                    <span class="date"><% include ../partials/date %></span>
                    <div class="entry-thumb">
                        <img src="https://cdn.pixabay.com/photo/2019/11/07/20/54/dbag-4609891_960_720.jpg"  style="width: 100%" alt="">
                        <a rel="prettyPhoto[kp-video]" href="https://vimeo.com/69882318" class="play-icon"></a>
                    </div>
                </li>
                <li>
                    <h4><a href="https://vimeo.com/69882318">Make Your Own Video Game With No</a></h4>
                    <span class="date"><% include ../partials/date %></span>
                    <div class="entry-thumb">
                        <img src="https://cdn.pixabay.com/photo/2019/09/24/21/37/kayak-4502263_960_720.jpg"  style="width: 100%" alt="">
                        <a rel="prettyPhoto[kp-video]" href="https://vimeo.com/69882318" class="play-icon"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-c">
        <div class="widget-area-5">
            <select id="responsive-menu" name="forma" onchange="location = this.value;">
                <option value="/">Home</option>
                <option value="/posts">News Portal</option>
                <option value="/posts/sport">Sport</option>
                <option value="/posts/food">Food</option>
                <option value="/posts/animals">Animals</option>
                <option value="/posts/transport">Transport</option>
                <option value="/posts/featured">Featured</option>
                <option value="/contact">Contact</option>
            </select>
        </div>
    </div>
</div>

<% include ../partials/footer %>