<% include ../partials/header %>

<div class="wrapper">
    <div id="contact-box">
        <h3>Add Post</h3>               
        <form id="contact-form" action="/posts" method="post">
            <label class="required">Type:</label>
            <select size="1" name="type">
                    <option disabled selected>Choose type</option>
                    <option value="Transport">Transport</option>
                    <option value="Food">Food</option>
                    <option value="Animals">Animals</option>
                    <option value="Sport">Sport</option>
            </select>
            <label class="required">Name:</label>
            <input type="text" name="name" id="contact_username" required>
            <label class="required">Image:</label>
            <input type="text" name="image" id="contact_password" required>
            <label class="required">Description</label>
            <textarea type="text" name="description" id="contact_textarea" required></textarea>
            <button type="submit" class="btn-submit" value="Sign Up">Submit</button>
            <a class="btn-submit" href="/posts">Go back</a> 
        </form>
    </div>
</div>

<% include ../partials/footer %>