<% include ../partials/header %>

<div class="wrapper">
    <div class="post-item-container">
        <article class="post-item">
            <header class="header-post">
            </header>
            <div class="content-post">
                <img class="img-post" src="<%= post.image %>">
                <span class="views"><% include ../partials/counter %></span>
                <h3><%=post.name %></h3>
                <p class="post-info"><em>Submitted By <strong><%= post.author.username %></strong> on </em></p>
                <p class="post-info"><span class="date"><% include ../partials/date %></span></p>
                <p><%= post.description %></p>
            </div>
            <footer class="footer-form">
                <p><%= post.author.id %></p>
                <a class="btn-submit" href="/posts/<%= post._id %>/comments/new">Add New Comment</a>
                <span><a class="btn-submit" href="/posts/">Go back</a></span>
            </footer>
        </article>
        <article class="post-item">
            <% post.comments.forEach(function(comment){%>
            <div class="row">
                <div class="post-comment">
                    <div class="post-info">
                        <p><strong><%= comment.author.username %>: </strong> </p>
                        <p><span class="date"><% include ../partials/date %></span></p>
                    </div>
                    <hr>
                    <p><%= comment.text %></p>
                </div>
            </div>
            <%})%>
        </article>
    </div>
</div>

<% include ../partials/footer %>
