<% include ../partials/header %>

<div class="wrapper">
    <header class="header-post">
        <h1>Welcome to transport NEWS</h1>
    </header>
    <span><a class="btn-submit" href="/posts/">Go back</a></span>
    <div class="post-section-container">
        <% posts.forEach(function(post){ %>
            <% if(post.type == "Transport"){ %>     
            <article class="post-section">
                <div class="content-post">
                    <img class="img-post-section" src="<%= post.image %>">
                    <h3><%=post.name %></h3>
                    <p class="post-info"><em>Submitted By <strong><%= post.author.username %></strong> on </em></p>
                    <p class="post-info"><span class="date"><% include ../partials/date %></span></p>
                    <p><%= post.description.substring(0, 400) %>...</p>
                </div>
                <footer class="footer-fom">
                    <a href="/posts/<%= post._id %>" class="btn-submit">More Info...</a>
                    <span class="views" style="float: right;"><% include ../partials/counter %></span> 
                </footer>
            </article>
            <% } %> 
        <% }) %>
    </div>  
</div>

<% include ../partials/footer %>